In [42]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv('data/spam_ham_dataset.csv')
df.drop('Unnamed: 0', axis=1, inplace = True)
df.columns = ['label', 'text', 'class']

In [44]:
df.head()

  label                                               text  class
0   ham  Subject: enron methanol ; meter # : 988291\r\n...      0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...      0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...      0
3  spam  Subject: photoshop , windows , office . cheap ...      1
4   ham  Subject: re : indian springs\r\nthis deal is t...      0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5171 non-null   object
 1   text    5171 non-null   object
 2   class   5171 non-null   int64
dtypes: int64(1), object(2)
memory usage: 121.3+ KB

In [46]:
df.describe()

             class
count  5171.000000
mean      0.289886
std       0.453753
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [47]:
df.loc[3, 'text']

'Subject: photoshop , windows , office . cheap . main trending\r\nabasements darer prudently fortuitous undergone\r\nlighthearted charm orinoco taster\r\nrailroad affluent pornographic cuvier\r\nirvin parkhouse blameworthy chlorophyll\r\nrobed diagrammatic fogarty clears bayda\r\ninconveniencing managing represented smartness hashish\r\nacademies shareholders unload badness\r\ndanielson pure caffein\r\nspaniard chargeable levin\r\n'